@import "tailwindcss";

.text-gradient {
  background: linear-gradient(65deg, #9d54e1, #ec4899);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.bg-gradient {
  background: linear-gradient(65deg, #830cf2, #ec4899);
}